/* Styles for larger screens */

@media (min-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .hamburger-menu {
    display: none;
  }
  
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}


